@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: "Segoe UI";
    src: url('./Segoe_UI.ttf');
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url('./Segoe_UI_Bold.ttf');
}
